.login-box{
  padding: 20px;
  border: 1px solid #DBDBDB;
  border-radius: 10px;
  background: #fff;
  box-shadow: 1px 1px 3px rgba(0,0,0, 0.1);
  overflow: hidden;
}
.login-box .actions{
  margin-top: 30px;
}
.login-box .submit-btn{
  margin-right: 30px;
}
.login-container{
  margin-top: 100px;
}
.login-box .alert{
  margin-top: 20px;
}
