.for-the-day-item{
  display: inline-block !important;
  width: auto !important;
  white-space: nowrap;
  padding: 0 10px;
  margin-bottom: 10px;
}
  .for-the-day-item label{
    color: #ccc !important;
  }
  .for-the-day-item svg{
    fill: #ccc !important;
  }
.for-the-day-item.active label{
  color: #25c1ad !important;
}
.for-the-day-item.active svg{
  fill: #25c1ad !important;
}
