.unit-item-container{
  border: 2px solid #f1f1f1;
  border-left-color: #fff;
  border-top-color: #fff;
  padding-top: 20px;
  color: #000;
  transition: .3s;
}
.unit-item-container .icons{position: absolute;top: -3px;right: -4px;}
.unit-item-container .icons svg{fill:#ff6677 !important;}

  .unit-item-container:hover{
    border-color: #ff6677;
    color: #000;
    text-decoration: none;
  }
  .unit-item-container:hover .unit-actions{
    width: 13%;
    left: -13%;
  }

  .unit-item-container.dummy:hover, .unit-item-container.dummy{
    border-color: #fff;
  }
.unit-item{
  border: 0 !important;
  margin: 0 !important;
}
  .unit-item .card-block{
    padding: 17px 0;
  }
.unit-actions{
  background: #ff6677;
  position: absolute;
  width: 0;
  z-index: 15;
  left: 0;
  top: -2px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  border-radius: 5px 0 0 5px;
  overflow: hidden;
}
  .unit-actions .action{
    color: #fff;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 5px 0;
    border-bottom: 1px solid #f9908e;
  }
    .unit-actions .action:hover{
      background: #f97d8b;
    }
    .unit-actions .action:last-child{
      border-bottom: 0;
    }

.unit-owner{
  margin-top: -40px;
  z-index: 10;
  margin-bottom: 10px;
  margin-left: 10px;
}
  .owner-avatar{
    margin-top: -5px;
    border: 2px solid #f89d96;
    z-index: 1;
    position: relative;
  }
  .owner-name{
    color: #5d5c5c;
    margin-left: 5px;
    background: #fff;
    padding: 5px 8px 2px 10px;
    margin-left: -4px;
    border-radius: 0 5px 5px 0;
  }

.unit-title, .unit-address{
  margin-bottom: 0;
}

.unit-address small{
  color: #636c72;
  font-size:12px;
  font-weight: 100;
}

.unit-rating{
  color: #fe6979;
  font-size: 12px;
}
  .unit-rating i{
    margin-left: 3px;
  }
  .unit-rating i:first-child{
    margin-left: 0;
  }

.unit-details{
  border-top: 1px solid #f1f1f1;
  padding-top: 10px;
  font-weight: 100;
  font-size: 11px;
  color: #7b797a;
}
  .unit-details-item{
    padding: 10px 5px;
    border: 1px solid #f1f1f1;
    border-top: 0;
    border-left: 0;
  }
    .unit-details-item:nth-child(1n+3){
      border-bottom: 0;
    }
    .unit-details-item:nth-child(2n+2){
      border-right: 0;
    }
    .unit-details-item i{
      margin-right: 10px;
      font-size: 17px;
      color: #989797;
    }

.card-img-top{
  border-radius: 0 !important;
  min-height: 200px;
  max-height: 200px;
  background: #ccc;
  background-repeat: no-repeat;
  background-size: cover;
}
  .card-img-top img{
    width: 270px !important;
    height: 200px !important;
  }

.unit-price{
  font-size: 14px;
  color: #25c1ad;
  font-weight: bold;
}
.on-trash{
  position: absolute;
  width: 100%;
  left: 0;
  display: table;
  z-index: 10;
  height: 95%;
  background: rgba(255, 255, 255, 0.5);
}
  .on-trash .alrt{
    display: table-cell;
    vertical-align: middle;
  }
    .on-trash .alrt .alert{
      background: rgba(254, 104, 120, 0.7);
      border: 0;
      border-radius: 0;
      text-align: center;
      color: #fff;
    }
      .on-trash .alrt .alert i{
        font-size: 20px;
        margin-right: 10px;
      }
.unit-item-container.deleted .unit-item{
  opacity: .5;
}
.waiting-for-approv{
  position: absolute;
  background: #f5a623;
  color: #fff;
  padding: 4px 10px;
  z-index: 1;
  right: 15px;
  font-size: 11px;
  top: 37px;
  border-radius: 10px 0 0 10px;
  text-transform: uppercase;
}
.unit-published{
  position: absolute;
  background: #25c1ad;
  color: #fff;
  padding: 4px 10px;
  z-index: 1;
  right: 15px;
  font-size: 11px;
  top: 37px;
  border-radius: 10px 0 0 10px;
  text-transform: uppercase;
}

.subunits-count{
  position: absolute;
  background: #88b80e;
  z-index: 1;
  text-align: center;
  padding: 3px;
  font-size: 11px;
  margin: 10px;
  border-radius: 5px;
  color: #fff;
}
  .subunits-count span{
    display: block;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
  }
