.budget-item{
  display: inline-block !important;
  width: auto !important;
  white-space: nowrap;
  padding: 0 40px;
}
  .budget-item label{
    color: #ccc !important;
  }

.budget-item.active label{
  color: #25c1ad !important;
}
.budget-fields .budget-item{
  width: 80% !important;padding: 0;

}
.budget-fields .form-field{
  display: inline-block;
  width: 50%;
  padding: 0 0 20px 0;
}

.amenity-item{
  display: inline-block !important;
  width: auto !important;
  white-space: nowrap;
  padding: 0 10px;
  margin-bottom: 10px;
}
  .amenity-item label{
    color: #ccc !important;
  }
  .amenity-item svg{
    fill: #ccc !important;
  }
.amenity-item.active label{
  color: #25c1ad !important;
}
.amenity-item.active svg{
  fill: #25c1ad !important;
}
.add-unit-form{
  margin-bottom: 20px;
}
.map-search{
  position: absolute;
  z-index: 100;
  width: 96%;
  margin: 20px 0 0 20px;
}
  .map-search input{
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #ff6677;
    border-radius: 10px;
    color: #d63860;
  }
  .map-search input:focus{
    outline: none;
  }
  #PlacesAutocomplete__root div{
    color: #d63860;
    border: 0 !important
  }

  .add-img{
    background: #ededed;
    height: 200px;
    width: 100%;
    border-radius: 10px;
    position: relative;
    padding: 10px;
  }
  .add-image-border{
    border: 5px dashed #ccc;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

    .add-img i{
      font-size: 58px;
      color: #ccc;
      text-shadow: 1px 1px 0px rgba(255,255,255, 0.5)
    }
    .add-img span{
      color: #ccc;
      color: #ccc;
      text-transform: uppercase;
      text-shadow: 1px 1px 0px rgba(255,255,255, 0.5);
      font-weight: 600;
    }
    .add-img input{
      background: red;
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  .add-img:hover, .add-img input:hover{
    cursor: pointer;
    background: #e4e4e4;
  }
.col-image-preview{
  margin-bottom: 20px;
}
.preview-img{
  height: 200px;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.5)
}
.delete-prev-img{
  position: absolute;
  width: 25px;
  height: 25px;
  background: #ea1b4b;
  left: 7px;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  top: -8px;
  font-size: 15px;
  border: 2px solid #fff;
  z-index: 50;
}
  .delete-prev-img:hover{
    cursor: pointer;
    background: #25c1ad;
  }
  .col-image-preview a:hover{
    opacity: 0.8;
  }
