.toolbar{
  background-color: #f1f1f1 !important;
  margin-bottom: 10px;
}
  .filter-btns{
    display: flex;
  }
    .filter-btns button{
      padding: 0 10px !important;
      width: auto !important;
      min-width: auto !important;
    }
      .filter-btns button span{
        padding: 0 !important;
      }
.show-count{
  margin: 0 !important;
  height: auto !important;
  width: 35px !important;
}
  .show-count div{
    padding: 0 !important;
  }
  .show-count button{
    right: auto;
    left: 16px;
  }
.separator{
  margin-right: 20px;
}
.filter-text{
  color: #a5afae;
  font-size: 16px !important;
  text-shadow: 1px 1px 0 #fff;
}
.toolbar .btn-group .btn-secondary{
  background-color: inherit !important;
  border: 0 !important;
}
.date-filter{
  background: #f1f1f1;
  color: #adadad;
  margin-bottom: 20px;
}
.date-filter > div{
  display: inline-block;
}
.date-filter > div{
  margin-left: 20px;
}
.date-filter .select-list{
  height: 35px;
  overflow: hidden;
}
